{% load staticfiles %}
<div class="navbar-default sidebar" role="navigation" id="sidebar">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            {% comment %}
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            {% endcomment %}
            <!--<li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Overview <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">HIV</a>
                    </li>
                    <li>
                        <a href="#">Malaria</a>
                    </li>
                    <li>
                        <a href="#">Maternal &amp; Child Health</a>
                    </li>
                    <li>
                        <a href="#">Nutrition</a>
                    </li>
                    <li>
                        <a href="#">Tuberclosis</a>
                    </li>
                    <li>
                        <a href="#">Lab Tests</a>
                    </li>
                    <li>
                        <a href="#">VMMC</a>
                    </li>
                    <li>
                        <a href="#">Family Planning</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'index' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboards <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">HIV</a>
                    </li>
                    <li>
                        <a href="#">Malaria</a>
                    </li>
                    <li>
                        <a href="#">Maternal &amp; Child Health</a>
                    </li>
                    <li>
                        <a href="#">Nutrition</a>
                    </li>
                    <li>
                        <a href="#">Tuberclosis</a>
                    </li>
                    <li>
                        <a href="#">Lab Tests</a>
                    </li>
                    <li>
                        <a href="#">VMMC</a>
                    </li>
                    <li>
                        <a href="#">Family Planning</a>
                    </li>
                </ul>
            </li>-->
            <li class="active">
                <a href="{% url 'index' %}">
                    <i class="fa fa-table fa-fw"></i> Reports
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">

                    <li>
                        <a href="{% url 'performance_reports' %}">Performance summary report</a>
                    </li>
                </ul>
            </li>

            <li class="active">
                <a href="{% url 'index' %}"><i class="fa fa-line-chart fa-fw"></i> Scorecards <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'thematic_hiv' %}">HIV</a>
                    </li>
                    <li>
                        <a href="{% url 'thematic_pmtct' %}">PMTCT/EID</a>
                    </li>
                    <li>
                        <a href="{% url 'thematic_malaria' %}">Malaria</a>
                    </li>
                    <li>
                        <a href="{% url 'thematic_mnch' %}">Maternal &amp; Child Health</a>
                    </li>
                    <li>
                        <a href="{% url 'thematic_nutrition' %}">Nutrition</a>
                    </li>
                    <li>
                        <a href="{% url 'thematic_tb' %}">Tuberculosis &amp; TB/HIV</a>
                    </li>
                    <li>
                        <a href="{% url 'thematic_lab' %}">Lab Tests</a>
                    </li>
                    <li>
                        <a href="{% url 'thematic_vmmc' %}">VMMC</a>
                    </li>
                    <li>
                        <a href="{% url 'thematic_fp' %}">Family Planning</a>
                    </li>
                    <li>
                        <a href="{% url 'thematic_gbv' %}">GBV</a>
                    </li>
                    <li>
                        <a href="{% url 'thematic_sc' %}">Supply Chain</a>
                    </li>
                    <li>
                        <a href="{% url 'thematic_lqas' %}">LQAS</a>
                    </li>
                    <li>
                        <a href="{% url 'thematic_kp' %}">Key &amp; Priority Populations</a>
                    </li>
                </ul>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'index' %}"><i class="fa fa-table fa-fw"></i> Validation Reports <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'validation_rule_listing' 'hiv' %}">HIV</a>
                    </li>
                    <li>
                        <a href="{% url 'validation_rule_listing' 'pmtct' %}">PMTCT/EID</a>
                    </li>
                    <li>
                        <a href="{% url 'validation_rule_listing' 'malaria' %}">Malaria</a>
                    </li>
                    <li>
                        <a href="{% url 'validation_rule_listing' 'mnch' %}">Maternal &amp; Child Health</a>
                    </li>
                    <li>
                        <a href="{% url 'validation_rule_listing' 'nutrition' %}">Nutrition</a>
                    </li>
                    <li>
                        <a href="{% url 'validation_rule_listing' 'tb' %}">Tuberculosis &amp; TB/HIV</a>
                    </li>
                    <li>
                        <a href="{% url 'validation_rule_listing' 'lab' %}">Lab Tests</a>
                    </li>
                    <li>
                        <a href="{% url 'validation_rule_listing' 'vmmc' %}">VMMC</a>
                    </li>
                    <li>
                        <a href="{% url 'validation_rule_listing' 'fp' %}">Family Planning</a>
                    </li>
                    <li>
                        <a href="{% url 'validation_rule_listing' 'gbv' %}">GBV</a>
                    </li>
                    <li>
                        <a href="{% url 'validation_rule_listing' 'sc' %}">Supply Chain</a>
                    </li>
                    <li>
                        <a href="{% url 'validation_rule_listing' 'qi' %}">LQAS</a>
                    </li>
                    <li>
                        <a href="{% url 'validation_rule_listing' 'kp' %}">Key &amp; Priority Populations</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if user.is_staff %}
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Upload Datasets <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'data_workflow_new' "HIV" %}">HIV</a>
                    </li>
                    <li>
                        <a href="{% url 'data_workflow_new' "PMTCT" %}">PMTCT</a>
                    </li>
                    <li>
                        <a href="{% url 'data_workflow_new' "Malaria" %}">Malaria</a>
                    </li>
                    <li>
                        <a href="{% url 'data_workflow_new' "Maternal &amp; Child Health" %}">Maternal &amp; Child Health</a>
                    </li>
                    <li>
                        <a href="{% url 'data_workflow_new' "Nutrition" %}">Nutrition</a>
                    </li>
                    <li>
                        <a href="{% url 'data_workflow_new' "Tuberclosis" %}">Tuberculosis</a>
                    </li>
                    <li>
                        <a href="{% url 'data_workflow_new' "Lab Tests" %}">Lab Tests</a>
                    </li>
                    <li>
                        <a href="{% url 'data_workflow_new' "VMMC" %}">VMMC</a>
                    </li>
                    <li>
                        <a href="{% url 'data_workflow_new' "Family Planning" %}">Family Planning</a>
                    </li>
                    <li>
                        <a href="{% url 'data_workflow_new' "GBV" %}">GBV</a>
                    </li>
                    <li>
                        <a href="{% url 'data_workflow_new' "Supply Chain" %}">Supply Chain</a>
                    </li>
                    <li>
                        <a href="{% url 'data_workflow_new' "LQAS" %}">LQAS</a>
                    </li>
                    <li>
                        <a href="{% url 'data_workflow_new' "Key &amp; Priority Populations" %}">Key &amp; Priority Populations</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            <li>
                <img src="{% static 'cannula/lockup_rhites-ec.png' %}" height="100%" width="100%"/>
            </li>
    </div>
</div>
</nav>