{% extends "cannula/base.html" %}

{% block title %}Workflow Details{% endblock %}

{% block content %}
<h4>Workflow source: {{ srcdoc.orig_filename}} (Uploaded: {{srcdoc.uploaded_at}})</h4>
<form method="post" id="workflow_actions">{% csrf_token %}
<div class="w3-panel">
<p>Individual Data Values: {{ num_values }}</p>

<p>
Data Elements
<ul style="column-count: 3">
	{% for de in data_elements %}
	<li>{{ de.name }} {% if de.alias %}<i>[aliased as "{{ de.alias }}"]</i>{% endif %}</li>
	{% empty %}
	<li>
		<button type="submit" form="workflow_actions" name="load_values">Load Data Elements/Values</button>
	</li>
	{% endfor %}
</ul>
</p>

<p>
Validation Rules
<ul>
	{% for rule in validation_rules %}
	<li>{{ rule.name }}: "{{ rule.expression }}"</li>
	{% empty %}
	{% if data_elements|length > 0 %}
	<li>
		<button type="submit" form="workflow_actions" name="load_validations">Load Validation Rules</button>
	</li>
	{% endif %}
	{% endfor %}
</ul>
</p>
</div>
{% endblock %}
