{% extends "startmin/base.html" %} {% block title %}RHITES-EC Performance Monitoring Tool{% endblock %} 
{% block heading %} USAID’s Regional Health Integration to Enhance Services in East Central (RHITES-EC) Uganda {% endblock %} 
{% block content %}
{% load staticfiles %}

<style>

        img.wrap {
                float: left
        }

        .div1 {
                float: left;
                height: 100px;
                width: 48%;
        }
</style>

<html>

<body>

        <div>
                <div class="div1">
                        <img class="wrap" src="{% static 'cannula/imageone.png' %}" hspace="5" />

                        <p><b>WHO ARE WE?</b></p>
                        <p>We are a health technical assistance project with a cutting edge performance and monitoring platform.
                                Our flagship performance database (RHITESEC-DB) is a cutting-edge platform used to process
                                project-required data obtained from the mainstream health information system (DHIS2)
                                and other supplementary sources; and create user-centric data sets, dashboards and real-time reports
                                                that facilitate data utilization from project inception to current time. </p>

                        <img class="wrap" src="{% static 'cannula/imagetwo.png' %}" hspace="5" />
                        <p><b><br><br>We have simplified monitoring and evaluation for learning and improving performance using a evidence-based decision making tool. 
                                        See how we have done it.
                                </b></p>
                       
                </div>

                <div class="div1" style="margin-left:15px">
                        <img class="wrap" src="{% static 'cannula/imagethree.png' %}" hspace="5" />

                        <p><b>WHAT HAVE WE DONE?</b></p>
                        <p><b>Easing real-time data processing, analysis and access</b></p>
                        <p>
                                Using open-source software, we continually innovate cloud-based and custom-designed collection tools to capture, process
                                and analyze relevant and real-time data from resource-constrained environments, using one
                                of the most commonly used device in Uganda - an Android phone. This data can be accessed
                                24/7 from anywhere, by the users.
                        </p>
                        <p><b>Facilitating evidence-based decision making</b></p>
                        <p>
                                A performance measurement platform for evidence-based and data-driven decision making, this database enables users to optimize
                                outcomes for program key performance indicators, adapt and scale-up good practices to ensure
                                cost-effectiveness, accountability and transparency in decision making.
                        </p>
                        <p><b>Improving data quality and integrity</b></p>
                        <p>
                                This paper-free and geographic verification platform solicits accurate, complete, current, timely submission, storage, traceability,
                                valid and real-time data. REC-DB generates real-time and trustworthy data!
                        </p>

                </div>

        </div>



</body>

</html>
{% endblock %}