{% extends "startmin/base.html" %} 
{% block title %}RHITES-EC Performance Monitoring Tool-Reports{% endblock %} 
{% block content %}

<style>

	.collapsibleone {
		background-color: white;
		color: white;
		cursor: pointer;
		padding: 2px;
		width: 50%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
		color: #0000EE;
	}

	.collapsibleone:hover {
		background-color: #f1f5f7;
	}
	.content {
		padding: 0 18px;
		display: none;
		overflow: hidden;
		background-color: white;
	}
</style>

<style>
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
	}

	th {
		padding: 3px;
	}

	td {
		padding: 2px;
	}
</style>

<h4>Annual Performance summary report</h4>

<ul>
	<li>
		<a href="{% url 'reports_sites_2016_to_2017' %}">FY Oct 2016 – Sept 2017</a>
	</li>
	<li>
		<a href="{% url 'reports_sites_2017_to_2018' %}">FY Oct 2017 – Sept 2018</a>
	</li>

	<li>
		<a href="{% url 'reports_sites_2018_to_2019' %}">FY Oct 2018 – Sept 2019</a>
	</li>
	
</ul>

<script>
	var coll = document.getElementsByClassName("collapsibleone");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function () {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.display === "block") {
				content.style.display = "none";
			} else {
				content.style.display = "block";
			}
		});
	}
</script> 
{% endblock %}