{% extends "startmin/base.html" %}
{% block title %}RHITES-EC Performance Monitoring Tool{% endblock %}
{% block page-header %} Dashboard {% endblock %}
{% block content %}
{% if grouped_data %}
<script src="/static/startmin/js/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script language="JavaScript">
$(document).ready(function() {
	var data = {
		table: 'datatable'
	};
	var chart = {
		type: 'column'
	};
	var title = {
		// text: 'Data extracted from a HTML table in the page'
		text: 'Key Indicators'
	};
	var yAxis = {
			allowDecimals: false,
			title: {
			text: 'Units'
		}
	};
	var tooltip = {
		formatter: function () {
		return '<b>' + this.series.name + '</b><br/>' +
		this.point.y + ' ' + this.point.name.toLowerCase();
		}
	};
	var credits = {
		enabled: false
	};  
	var json = {};   
	json.chart = chart; 
	json.title = title; 
	json.data = data;
	json.yAxis = yAxis;
	json.credits = credits;  
	json.tooltip = tooltip;  
	// $('#container').highcharts(json);
	json.chart['renderTo'] = 'container';
	var chart = new Highcharts.Chart(json);
});
</script>
<p>
<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
<table id="datatable" border="1">
<thead>
<tr>
	<th>Period</th>
	{% for de_name, cat_combo in data_element_names %}
	{% if cat_combo %}
	<th class="w3-center">{{ de_name }}<br/>{{ cat_combo }}</th>
	{% else %}
	<th class="w3-center" rowspan="2">{{ de_name }}</th>
	{% endif %}
	{% endfor %}
</tr>
</thead>
<tbody>
{% for g_name, g_vals in grouped_data %}
<tr>
	<td>{{ g_name }}</td>
	{% for g_val in g_vals %}
	<td>{{ g_val.numeric_sum|floatformat }}</td>
	{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
</p>
{% endif %}

<h4>Dashboard</h4>

{% if 'malaria' in request.path %}
<ul>
	<li><a href="{% url 'malaria_cases' %}">Malaria: Cases - Facilities</a></li>
	<li><a href="{% url 'malaria_cases_districts' %}">Malaria: Cases - Districts</a></li>
	<li><a href="{% url 'malaria_compliance' %}">Malaria: Compliance - Facilities</a></li>
	<li><a href="{% url 'malaria_compliance_districts' %}">Malaria: Compliance - Districts</a></li>
	<li><a href="{% url 'ipt_subcounties' %}">Malaria: IPT - Subcounties</a></li>
	<li><a href="{% url 'ipt_districts' %}">Malaria: IPT - Districts</a></li>
</ul>
{% endif %}

{% if 'hts' in request.path %}
<ul>
	<li><a href="{% url 'hts_sites' %}">HTS - Facilities</a></li>
	<li><a href="{% url 'hts_districts' %}">HTS - Districts</a></li>
</ul>
<ul>
	<li><a href="{% url 'art_new_sites' %}">New on ART - Facilities</a></li>
	<li><a href="{% url 'art_new_districts' %}">New on ART - Districts</a></li>
</ul>
<ul>
	<li><a href="{% url 'art_active_sites' %}">Active on ART - Facilities</a></li>
	<li><a href="{% url 'art_active_districts' %}">Active on ART - Districts</a></li>
</ul>
<ul>
	<li><a href="{% url 'care_tx_sites' %}">Care & Treatment - Facilities</a></li>
	<li><a href="{% url 'care_tx_districts' %}">Care & Treatment - Districts</a></li>
</ul>
{% endif %}

{% if 'pmtct' in request.path %}
<ul>
	<!--<li><a href="{% url 'pmtct_sites' %}">PMTCT - Facilities</a></li>
	<li><a href="{% url 'pmtct_districts' %}">PMTCT - Districts</a></li>-->
	<li><a href="{% url 'pmtct_districts_new' %}">PMTCT - Districts</a></li>
	<li><a href="{% url 'pmtct_scorecard_new_facility' %}">PMTCT - Facilities</a></li>
</ul>
{% endif %}

{% if 'vmmc' in request.path %}
<ul>
	<li><a href="{% url 'vmmc_sites' %}">VMMC - Facilities</a></li>
	<li><a href="{% url 'vmmc_districts' %}">VMMC - Districts</a></li>
</ul>
{% endif %}

{% if 'lab' in request.path %}
<ul>
	<li><a href="{% url 'lab_sites' %}">Lab. Tests - Facilities</a></li>
	<li><a href="{% url 'lab_districts' %}">Lab. Tests - Districts</a></li>
</ul>
<ul>
	<li><a href="{% url 'vl_sites' %}">Viral Load - Facilities</a></li>
	<li><a href="{% url 'vl_districts' %}">Viral Load - Districts</a></li>
</ul>

{% endif %}

{% if 'fp' in request.path %}
<ul>
	<li><a href="{% url 'fp_sites' %}">Family Planning - Facilities</a></li>
	<li><a href="{% url 'fp_districts' %}">Family Planning - Districts</a></li>
	<li><a href="{% url 'fp_cyp_sites' %}">Family Planning: CYP - Facilities</a></li>
	<li><a href="{% url 'fp_cyp_districts' %}">Family Planning: CYP - Districts</a></li>
</ul>
{% endif %}

{% if 'tb' in request.path %}
<ul>
	<li><a href="{% url 'tb_sites' %}">TB and TB/HIV - Facilities</a></li>
	<li><a href="{% url 'tb_districts' %}">TB and TB/HIV - Districts</a></li>
	<li><a href="{% url 'prev_summary' %}">TB Prev Summary</a></li>
</ul>
{% endif %}

{% if 'nutrition' in request.path %}
<ul>
	<li><a href="{% url 'nutrition_sites' %}">Nutrition - Facilities</a></li>
	<li><a href="{% url 'nutrition_districts' %}">Nutrition - Districts</a></li>
</ul>
{% endif %}

{% if 'gbv' in request.path %}
<ul>
	<li><a href="{% url 'gbv_sites' %}">GBV: Cases - Facilities</a></li>
	<li><a href="{% url 'gbv_districts' %}">GBV: Cases - Districts</a></li>
	{% comment %}
	<li><a href="{% url 'gbv_pep_sites' %}">GBV: PEP - Facilities</a></li>
	<li><a href="{% url 'gbv_pep_districts' %}">GBV: PEP - Districts</a></li>
	{% endcomment %}
</ul>
{% endif %}

{% if 'sc' in request.path %}
<ul>
	<li><a href="{% url 'sc_mos_sites' %}">Supply Chain: Months of Stock - Facilities</a></li>
</ul>
{% endif %}

{% if 'mnch' in request.path %}
<ul>
	<li><a href="{% url 'mnch_preg_birth_subcounties' %}">MNCH: Pregnancy &amp; Birth - Subcounties</a></li>
	<li><a href="{% url 'mnch_preg_birth_districts' %}">MNCH: Pregnancy &amp; Birth - Districts</a></li>
	<li><a href="{% url 'mnch_pnc_child_subcounties' %}">MNCH: PNC, Neonatal and Child Health - Subcounties</a></li>
	<li><a href="{% url 'mnch_pnc_child_districts' %}">MNCH: PNC, Neonatal and Child Health - Districts</a></li>

	<!-- <li><a href="{% url 'mnchandmalarial_additional_summary' %}">RMNCH & Malaria(Additional)</a></li> -->
</ul>
{% endif %}

{% if 'lqas' in request.path %}
<ul>
	<li><a href="{% url 'lqas_districts' %}">LQAS - Districts</a></li>
</ul>
<ul>
	<li><a href="{% url 'lqas_districts_child' %}">LQAS - Districts-Children</a></li>
</ul>
{% endif %}

{% if 'kp' in request.path %}
<ul>
	<li><a href="{% url 'kp_subcounties' %}">Key &amp; Priority Populations - Subcounties</a></li>
	<li><a href="{% url 'kp_districts' %}">Key &amp; Priority Populations - Districts</a></li>
</ul>
{% endif %}
{% endblock %}
