{% extends "cannula/report_base.html" %} 
{% block title %}RHITES-EC Performance Summary (October 2017 – September 2018){% endblock %} 
{% block heading %}
<h1 align="center">RHITES-EC Performance Summary (October 2017 – September 2018)</h1> {% endblock %} {% block datacell %}
<td class="w3-right-align Good 0_2_4_none_red_green_yellow none_0_light-green"></td>
{% endblock %} {% block content %}
<style>
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
	}

	th {
		padding: 3px;
	}

	td {
		padding: 2px;
	}
</style>

<table border="1" align="center">
	<tr bgcolor="#f8a998">
		<th>Indicator/Technical Area</th>
		<th>Annual Target</th>
		<th>Oct – Dec 2017 </th>
		<th>Jan - March 2018 </th>
		<th>April - June 2018 </th>
		<th>July - Sep 2018 </th>
		<th>Achievement of Annual Target </th>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">MALARIA PREVENTION DIAGNOSIS AND TREATMENT </td>
	</tr>

	<tr>
		<td>Number of health workers trained in case management with artemisinin-based Combination therapy (ACTs) with USG funds</td>
		<td>400</td>
		<td>120</td>
		<td>30</td>
		<td></td>
		<td></td>
		<td>150</td>
	</tr>

	<tr>
		<td>Number of health workers trained in malaria laboratory diagnostics (rapid diagnostic tests (RDTs) or microscopy) with USG
			funds
		</td>
		<td>400</td>
		<td>120</td>
		<td>30</td>
		<td></td>
		<td></td>
		<td>150</td>
	</tr>

	<tr>
		<td>Number of health workers trained in intermittent preventive treatment in pregnancy (IPTp) with USG funds</td>
		<td>400</td>
		<td>120</td>
		<td>30</td>
		<td></td>
		<td></td>
		<td>150</td>
	</tr>

	<tr>
		<td>Proportion of OPD attendance that were diagnosed as malaria cases</td>
		<td>40%</td>
		<td>41.9% (393,832 / 938,987)</td>
		<td>28.1% (248,423 / 883, 046)
		</td>
		<td></td>
		<td></td>
		<td>35.2%</td>
	</tr>

	<tr>
		<td>Percentage of pregnant women who received two or more doses of IPTp during pregnancy</td>
		<td>59%</td>
		<td>73.0% (33,361/45,705)</td>
		<td>63% (34,964 / 55,426)
		</td>
		<td></td>
		<td></td>
		<td>63%</td>
	</tr>

	<tr>
		<td>Percentage of pregnant women provided with Long Lasting Insecticide Treated Nets (LLIN) during antenatal clinic (ANC)</td>
		<td>70%</td>
		<td>22.5% (10,286 / 45,705)</td>
		<td>62% (3,4317 / 55,426)
		</td>
		<td></td>
		<td></td>
		<td>62%</td>
	</tr>

	<tr>
		<td>Malaria positivity rate</td>
		<td>35%</td>
		<td>44.7% (245,652 / 549,327)</td>
		<td>43% (228,408 / 527,623)
		</td>
		<td></td>
		<td></td>
		<td>43%</td>
	</tr>

	<tr>
		<td>Proportion of malaria cases treated that were confirmed by mRDT or microscopy</td>
		<td>75%</td>
		<td>72.3% (284,831 / 393,832)</td>
		<td>70.8% (248,423 / 351,120)
		</td>
		<td></td>
		<td></td>
		<td>70.8%</td>
	</tr>

	<tr>
		<td>Proportion of malaria cases confirmed that were appropriately treated</td>
		<td>70%</td>
		<td>91.6% (22,781 / 24,872)</td>
		<td>89% (19,037 / 21,432)
		</td>
		<td></td>
		<td></td>
		<td>89%</td>
	</tr>

	<tr>
		<td>Average stock out rate of ITNs at the health facility</td>
		<td>40%</td>
		<td>2.0% (3 / 124)
		</td>
		<td>0%</td>
		<td></td>
		<td></td>
		<td>0%</td>
	</tr>

	<tr>
		<td>Percentage of patients who received a negative diagnostic test for malaria (RDT or microscopy) who received an antimalarial
			drug
		</td>
		<td>30%</td>
		<td>52% (79,859 / 152,222)</td>
		<td>45.1% (68,322 / 151,444)
		</td>
		<td></td>
		<td></td>
		<td>45.1%</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">MATERNAL NEONATAL AND CHILD HEALTH</td>
	</tr>

	<tr>
		<td>Percentage of pregnant women attending 1st ANC visit within the 1st trimester
		</td>
		<td>40%</td>
		<td>18.2% (9,855 / 54,094)</td>
		<td>17.1% (11,574 / 67,577)
		</td>
		<td></td>
		<td></td>
		<td>17.6%</td>
	</tr>

	<tr>
		<td>Percentage of pregnant women who used ANC provided by a skilled health personnel for reasons related to pregnancy (ANC
			1st visit coverage)
		</td>
		<td>100%</td>
		<td>84.6% (45,754 / 54,094)</td>
		<td>81.9% (55,336 / 67,577)
		</td>
		<td></td>
		<td></td>
		<td>83.1%</td>
	</tr>

	<tr>
		<td>Percentage of institutional deliveries (health unit delivery rate)
		</td>
		<td>80%</td>
		<td>47.3% (24,117 / 52,472)</td>
		<td>38.9% (25,477 / 65,550)
		</td>
		<td></td>
		<td></td>
		<td>42.1%</td>
	</tr>

	<tr>
		<td>Caesarean section rate
		</td>
		<td>7.5%</td>
		<td>3.4% (1,776 / 52,472)</td>
		<td>3,25% (2,129 / 65,550)
		</td>
		<td></td>
		<td></td>
		<td>3.3%</td>
	</tr>

	<tr>
		<td>Proportion of mothers receiving PNC checks within 6 days
		</td>
		<td>20%</td>
		<td>18.6% (9,732 / 52,472)</td>
		<td>6.6% (4,299 / 65,550)
		</td>
		<td></td>
		<td></td>
		<td>11.9%</td>
	</tr>

	<tr>
		<td>Proportion of mothers initiating breastfeeding within 1 hour after birth
		</td>
		<td>80%</td>
		<td>85.0% (20,508 / 24,117)</td>
		<td>90.5% (23,054 / 25,477)
		</td>
		<td></td>
		<td></td>
		<td>87.8%</td>
	</tr>

	<tr>
		<td>Percentage of mothers who attended PNC visit within 6 weeks postpartum
		</td>
		<td>30%</td>
		<td>19.2% (10,075 / 52,472)</td>
		<td>15.97% (10,466 / 65,550)
		</td>
		<td></td>
		<td></td>
		<td>17.4%</td>
	</tr>

	<tr>
		<td>Proportion of babies with birth asphyxia
		</td>
		<td>2.0%</td>
		<td>3,0% (734 / 24,117)</td>
		<td>0.04% (896 / 24,617)
		</td>
		<td></td>
		<td></td>
		<td>3.3%</td>
	</tr>

	<tr>
		<td>Proportion of neonates (aged 0 -28 days) presenting to health facilities with sepsis/infections
		</td>
		<td>1.2%</td>
		<td>0.4% (206 / 51,834)
		</td>
		<td>0.00% (76 / 49,028)

		</td>
		<td></td>
		<td></td>
		<td>0.03%</td>
	</tr>

	<tr>
		<td>Percentage of children below one year who have received PCV3 (PCV3 coverage)
		</td>
		<td>30%</td>
		<td>52% (79,859 / 152,222)</td>
		<td>45.1% (68,322 / 151,444)
		</td>
		<td></td>
		<td></td>
		<td>45.1%</td>
	</tr>

	<tr>
		<td>Percentage of children below one year who have received PCV3 (PCV3 coverage)
		</td>
		<td>98%</td>
		<td>93% (43,258 / 46,521)</td>
		<td>69.75% (40,536 / 58,116)
		</td>
		<td></td>
		<td></td>
		<td>80.0%</td>
	</tr>
	<tr>
		<td>Perinatal mortality rate
		</td>
		<td>2.0%</td>
		<td>3.2% (821 / 25,285)
		</td>
		<td>.5% (886 / 25,477)
		</td>
		<td></td>
		<td></td>
		<td>3.4%</td>
	</tr>

	<tr>
		<td>Proportion of perinatal deaths reported that are audited
		</td>
		<td>30%</td>
		<td>1.3% (11 / 821)
		</td>
		<td>18.3% (22/120)
		</td>
		<td></td>
		<td></td>
		<td>3.5%</td>
	</tr>

	<tr>
		<td>Proportion of maternal deaths reported which are audited
		</td>
		<td>30%</td>
		<td>55% (28 / 51)
		</td>
		<td>50% (12 / 24)
		</td>
		<td></td>
		<td></td>
		<td>53.3%</td>
	</tr>

	<tr>
		<td>Institutional maternal mortality ratio
		</td>
		<td>300 / 100,000</td>
		<td>106 .44 / 100,000</td>
		<td>97.5 / 100,000
		</td>
		<td></td>
		<td></td>
		<td>101.9 / 100,000</td>
	</tr>

	<tr>
		<td>Institutional neonatal mortality rate
		</td>
		<td>
			<1.5 / 1000</td>
				<td>7.11 (167 / 23,488 *1000)
				</td>
				<td>5.44 (134 / 24,617 *1000)
				</td>
				<td></td>
				<td></td>
				<td>6.26 / 1000</td>
	</tr>

	<tr>
		<td>Institutional under five mortality rates
		</td>
		<td>
			<1.5 / 1000</td>
				<td>0.9 (197 / 220,712)
				</td>
				<td>1.3 (233 / 193,945)
				</td>
				<td></td>
				<td></td>
				<td>1.04/1000</td>
	</tr>

	<tr>
		<td>Institutional still births rate
		</td>
		<td>5 / 1000</td>
		<td>2..6% (638 / 24,117)
		</td>
		<td>3.0% (752 / 25,477)
		</td>
		<td></td>
		<td></td>
		<td>2.8%</td>
	</tr>

	<tr>
		<td>Number of new cases of pneumonia aged under five years (under 5 pneumonia incidence cases)
		</td>
		<td>387</td>
		<td>9,097</td>
		<td>11,180
		</td>
		<td></td>
		<td></td>
		<td>20,277</td>
	</tr>

	<tr>
		<td>Percentage of children aged under five years who have received a 2nd dose for deworming
		</td>
		<td>50%</td>
		<td>63.8% (139,391 / 218,542)</td>
		<td>34.71% (20,172 / 58,116)
		</td>
		<td></td>
		<td></td>
		<td>57.7%</td>
	</tr>

	<tr>
		<td>Percentage of children under five years receiving two doses of Vitamin A
		</td>
		<td>130,000</td>
		<td>101,518 </td>
		<td>23,301
		</td>
		<td></td>
		<td></td>
		<td>124,819 (96%)</td>
	</tr>

	<tr>
		<td>Percentage of health facilities reporting no stock out of Depo-Provera (DDMPA) in the previous 3 months
		</td>
		<td>100%</td>
		<td>92.1% (471/511)</td>
		<td>100% (511/511)
		</td>
		<td></td>
		<td></td>
		<td>100%</td>
	</tr>

	<tr>
		<td>Percentage of health facilities with no stock outs of ORS combined with zinc
		</td>
		<td>100%</td>
		<td>93.4% (480 / 511)</td>
		<td>100% (511 / 511)
		</td>
		<td></td>
		<td></td>
		<td>100%</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">FAMILY PLANNING</td>
	</tr>

	<tr>
		<td>Number of USG-supported service delivery points offering any modern contraceptive method
		</td>
		<td>132</td>
		<td>132</td>
		<td>132
		</td>
		<td></td>
		<td></td>
		<td>132</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold;">Number of family planning users</td>
	</tr>

	<tr>
		<td>Condoms</td>
		<td>TIARHT</td>
		<td>45,311</td>
		<td>43997</td>
		<td></td>
		<td></td>
		<td>43997</td>
	</tr>

	<tr>
		<td>IUDs</td>
		<td>TIARHT</td>
		<td>2,213</td>
		<td>1885</td>
		<td></td>
		<td></td>
		<td>4098</td>
	</tr>

	<tr>
		<td>Oral pills </td>
		<td>TIARHT</td>
		<td>5,511</td>
		<td>6324</td>
		<td></td>
		<td></td>
		<td>6324</td>
	</tr>

	<tr>
		<td>Implants </td>
		<td>TIARHT</td>
		<td>10,080</td>
		<td>10774</td>
		<td></td>
		<td></td>
		<td>20854</td>
	</tr>

	<tr>
		<td>Injectables </td>
		<td>TIARHT</td>
		<td>40,133</td>
		<td>39534</td>
		<td></td>
		<td></td>
		<td>79667</td>
	</tr>

	<tr>
		<td>Permanent methods</td>
		<td>TIARHT</td>
		<td>216</td>
		<td>247</td>
		<td></td>
		<td></td>
		<td>463</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold;">Number of new family planning users by type of method</td>
	</tr>

	<tr>
		<td>Condoms</td>
		<td>TIARHT</td>
		<td>21,783</td>
		<td>26370</td>
		<td></td>
		<td></td>
		<td>26370</td>
	</tr>

	<tr>
		<td>IUDs</td>
		<td>TIARHT</td>
		<td>1,713</td>
		<td>1463</td>
		<td></td>
		<td></td>
		<td>1463</td>
	</tr>

	<tr>
		<td>Oral pills </td>
		<td>TIARHT</td>
		<td>2,786</td>
		<td>3299</td>
		<td></td>
		<td></td>
		<td>3299</td>
	</tr>

	<tr>
		<td>Implants </td>
		<td>TIARHT</td>
		<td>8,246</td>
		<td>9270</td>
		<td></td>
		<td></td>
		<td>9270</td>
	</tr>

	<tr>
		<td>Injectables </td>
		<td>TIARHT</td>
		<td>14,790</td>
		<td>15620</td>
		<td></td>
		<td></td>
		<td>30410</td>
	</tr>

	<tr>
		<td>Permanent methods</td>
		<td>TIARHT</td>
		<td>216</td>
		<td>247</td>
		<td></td>
		<td></td>
		<td>463</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold;">Number of HIV positive family planning users</td>
	</tr>

	<tr>
		<td>New</td>
		<td>TIARHT</td>
		<td>895</td>
		<td>512</td>
		<td></td>
		<td></td>
		<td>918</td>
	</tr>

	<tr>
		<td>Revisits</td>
		<td>TIARHT</td>
		<td>877</td>
		<td>822</td>
		<td></td>
		<td></td>
		<td>973</td>
	</tr>

	<tr>
		<td>Proportion of long-term family planning methods delivered</td>
		<td>TIARHT</td>
		<td>20.5% (10,175 / 49,534)</td>
		<td>31.7% (10,733 / 33,751)</td>
		<td></td>
		<td></td>
		<td>25.1% (20,908 / 83,285)</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">NUTRITION</td>
	</tr>

	<tr>
		<td>Proportion of people that accessed nutritional assessment and counselling services (NACS)</td>
		<td>20%</td>
		<td>18.8% (172,637 / 920,478)</td>
		<td>25% (208, 085 / 831,967)</td>
		<td></td>
		<td></td>
		<td>25%</td>
	</tr>

	<tr>
		<td>Proportion of HIV positive patients receiving HIV care services who were assessed for malnutrition </td>
		<td>90%</td>
		<td>87.8% (6,0831 / 69,277)</td>
		<td>90.8% (67895/74793)</td>
		<td></td>
		<td></td>
		<td>90.8%</td>
	</tr>

	<tr>
		<td>Proportion of clients who received nutritional assessment and had malnutrition</td>
		<td>4.5%</td>
		<td>6.6% (11,336 / 172,637)</td>
		<td>1.24% (2,583 / 208,085)</td>
		<td></td>
		<td></td>
		<td>1.24%</td>
	</tr>

	<tr>
		<td>Proportion of malnourished clients who received nutritional supplementary / therapeutic feeds </td>
		<td>70%</td>
		<td>80.4% (757 / 942)</td>
		<td>74% (276 / 375)</td>
		<td></td>
		<td></td>
		<td>74%</td>
	</tr>

	<tr>
		<td>Proportion of pregnant and lactating mothers who received Infant and Young Child Feeding (IYCF) counselling</td>
		<td>35%</td>
		<td>34.2% (63,345 / 185,360)</td>
		<td>42.9% (90,505 / 211,142)
		</td>
		<td></td>
		<td></td>
		<td>42.9%</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">WATER, SANITATION AND HYGIENE</td>
	</tr>
	<tr>
		<td>Percentage of USAID-supported health facilities conducting hygiene audits and action planning</td>
		<td>50%</td>
		<td>ND</td>
		<td></td>
		<td></td>
		<td></td>
		<td>ND</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">HIV TESTING AND COUNSELLING</td>
	</tr>
	<tr>
		<td>PEPFAR HTS_TST: Number of individuals who received HIV Testing Services (HTS) for HIV and received their test results</td>
		<td>851,805
		</td>
		<td>233,609 (27.4%)

		</td>
		<td>237,653 (27.9%)</td>
		<td></td>
		<td></td>
		<td>471,262 (55.3%)</td>
	</tr>

	<tr>
		<td>PEPFAR HTC_TST_POS: Number of individuals who received HIV Testing Services (HTS) and positive test results</td>
		<td>27,647</td>
		<td>4,064 (14.7%)</td>
		<td>5,118 (18.5%)</td>
		<td></td>
		<td></td>
		<td>9,182 (33.2%)
		</td>
	</tr>


	<tr>
		<td>Percentage of newly-identified HIV positives who were linked into HIV care services</td>
		<td>93%</td>
		<td>84.5% (2,735 / 3,236)</td>
		<td>89.2% (3,857 / 4,322)
		</td>
		<td></td>
		<td></td>
		<td>87.2% (6,592 / 7,558)
		</td>
	</tr>
	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">SEXUAL AND GENDER BASED VIOLENCE</td>
	</tr>

	<tr>
		<td>PEPFAR GEND_GBV: Total number of people receiving post -GBV Care</td>
		<td>2983</td>
		<td>696 (93%)</td>
		<td>411 (55%) </td>
		<td></td>
		<td></td>
		<td>37% </td>
	</tr>

	<tr>
		<td>Percentage of quality interventions conducted by selected community structures to address gender and social barriers to
			adoption of positive behaviors</td>
		<td>100%</td>
		<td>0.0%</td>
		<td>0.0%</td>
		<td></td>
		<td></td>
		<td>0.0%</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">VOLUNTARY MALE MEDICAL CIRCUMCISION</td>
	</tr>

	<tr>
		<td>PEPFAR VMMC_CIRC: Number of males circumcised as part of the voluntary medical male circumcision (VMMC) for HIV prevention
			program within the reporting period</td>
		<td>28,415</td>
		<td>7,315 (25.7%)</td>
		<td>8,203 (28.9)</td>
		<td></td>
		<td></td>
		<td>54.6% </td>
	</tr>
	<tr>
		<td>Percentage of circumcised males who returned for follow up (within 48 hours)</td>
		<td>75% of the circumcised</td>
		<td>86.1% (6,295 / 7,315)</td>
		<td>(89.2%) 7321/8203</td>
		<td></td>
		<td></td>
		<td>89.2% </td>
	</tr>
	<tr>
		<td>Number of males circumcised surgically or by medical device that experienced at least one moderate or severe adverse event(s)
			(AEs)
		</td>
		<td>
			<5% of total number served</td>
				<td>0.6% (43 / 7,315)</td>
				<td>(0.7%) 64/8203</td>
				<td></td>
				<td></td>
				<td>0.7% </td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">KEY AND PRIORITY POPULATIONS</td>
	</tr>

	<tr>
		<td>PEPFAR KP_PREV: Number of key populations reached with individual and/or small group level HIV prevention interventions
			designed for the target population</td>
		<td>13,924</td>
		<td>2,104 (14.5%)</td>
		<td>15.3% (2,125 / 13,924)
		</td>
		<td></td>
		<td></td>
		<td>30.4% (4,229 / 13,924)
		</td>
	</tr>

	<tr>
		<td>PEPFAR PP_PREV: Number of priority populations reached with the standardized, evidence-based intervention(s) required that
			are designed to promote adoption of HIV prevention behaviors and service uptake</td>
		<td>39,591</td>
		<td>10,307 (26.0%)</td>
		<td>10,843 (27.4%)/)</td>
		<td></td>
		<td></td>
		<td>21150 (53.4%)</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">PREVENTION OF MOTHER TO CHILD TRANSMISSION OF HIV</td>
	</tr>

	<tr>
		<td>PEPFAR PMTCT_STAT: Percentage of pregnant women with known HIV status at antenatal care (includes those who already knew
			their HIV status prior to ANC)</td>
		<td>179,471</td>
		<td>101.7% (31,147 / 30,623)</td>
		<td>95.8% (39732 / 38072)
		</td>
		<td></td>
		<td></td>
		<td>38%
		</td>
	</tr>

	<tr>
		<td>PEPFAR PMTCT_STAT_POS: Number of pregnant women with positive HIV status at antenatal care</td>
		<td>6302</td>
		<td>1,281 (20.3%</td>
		<td>1637 (24.3%
		</td>
		<td></td>
		<td></td>
		<td>46.3% of annual HIV+ to be identified achieved
		</td>
	</tr>

	<tr>
		<td>PEPFAR PMTCT_ART: Percentage of HIV-positive pregnant women who received ART to reduce the risk of mother-to-child transmission
			(MTCT) during pregnancy</td>
		<td>5986</td>
		<td>1,210 (20.2%)</td>
		<td>1,485 (24.8% of the annual target)
		</td>
		<td></td>
		<td></td>
		<td>45% of annual target for number to start on ART achieved
		</td>
	</tr>

	<tr>
		<td>PEPFAR KP_PREV: Number of key populations reached with individual and/or small group level HIV prevention interventions
			designed for the target population</td>
		<td>13,924</td>
		<td>2,104 (14.5%)</td>
		<td>15.3% (2,125 / 13,924)
		</td>
		<td></td>
		<td></td>
		<td>30.4% (4,229 / 13,924)
		</td>
	</tr>

	<tr>
		<td>PEPFAR PMTCT_EID: Percentage of infants born to HIV-positive women who had a virologic HIV test done within 12 months of
			birth
		</td>
		<td>5042</td>
		<td>14.2% (717/5042) </td>
		<td>19.3% (974 / 5042)
		</td>
		<td></td>
		<td></td>
		<td>33.5% of the annual target attained
		</td>
	</tr>

	<tr>
		<td>PEPFAR PMTCT_EID_POS: Number of infants born to HIV-positive women who had a virologic HIV test done within 12 months of
			birth who tested positive for HIV</td>
		<td>13,924</td>
		<td>2,104 (14.5%)</td>
		<td>15.3% (2,125 / 13,924)
		</td>
		<td></td>
		<td></td>
		<td>30.4% (4,229 / 13,924)
		</td>
	</tr>

	<tr>
		<td>PEPFAR KP_PREV: Number of key populations reached with individual and/or small group level HIV prevention interventions
			designed for the target population</td>
		<td>341</td>
		<td>37</td>
		<td>52
		</td>
		<td></td>
		<td></td>
		<td>89
		</td>
	</tr>

	<tr>
		<td>Percentage of infants of HIV-positive mothers receiving ARVs for PMTCT at birth</td>
		<td></td>
		<td>84.1% (554 / 659)</td>
		<td>(86%) 641/745)
		</td>
		<td></td>
		<td></td>
		<td>85.1% (1195/1404)
		</td>
	</tr>

	<tr>
		<td>Percentage of infants born to HIV-positive pregnant women who began Cotrimoxazole (CTX) prophylaxis within two months of
			birth
		</td>
		<td></td>
		<td>86.6% (748 / 864)</td>
		<td>82.1% (523 / 637)
		</td>
		<td></td>
		<td></td>
		<td>82.1%
		</td>
	</tr>

	<tr>
		<td>PEPFAR PMTCT_FO: Percentage of final outcomes among HIV-exposed infants registered in the birth cohort.
		</td>
		<td></td>
		<td>92.5% (865 / 935)</td>
		<td>84.2% (843 / 1001)
		</td>
		<td></td>
		<td></td>
		<td>85.3% (1708/1936)
		</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">HIV CARE AND TREATMENT</td>
	</tr>

	<tr>
		<td>TX_CURR: Number of adults and children currently receiving antiretroviral therapy (ART)
		</td>
		<td>106,554</td>
		<td>61.8% (65,856 / 106,554)</td>
		<td>67.2% (71,594 / 106,554)
		</td>
		<td></td>
		<td></td>
		<td>67.2%
		</td>
	</tr>
	<tr>
		<td>PEPFAR TX_NEW: Number of adults and children newly enrolled on antiretroviral therapy (ART)
		</td>
		<td>28246</td>
		<td>2,934 (10.4%)</td>
		<td>4251 (15.0%)
		</td>
		<td></td>
		<td></td>
		<td>25.4%
		</td>
	</tr>
	<tr>
		<td>Percentage of adults and children known to be on treatment 12 months after initiation of antiretroviral therapy (Note:
			reporting 24 and 36 months is recommended, but optional)
		</td>
		<td>90%</td>
		<td>66% (1,655 / 2489)</td>
		<td>70% (2310 / 3307)
		</td>
		<td></td>
		<td></td>
		<td>70%
		</td>
	</tr>
	<tr>
		<td>Percentage of ART patients with a viral load result documented in the medical record and/or laboratory information systems
			(LIS) within the past 12 months with a suppressed viral load (
			<1000 copies/ml) </td>
				<td>90%</td>
				<td>83.4% (23,233 / 27,849)</td>
				<td>92% (49,330 / 53,894)
				</td>
				<td></td>
				<td></td>
				<td>92%
				</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">TB/HIV AND MDR-TB</td>
	</tr>

	<tr>
		<td>TB Case Notification Rate (CNR)</td>
		<td>128 / 100,000 population </td>
		<td>106 per 100,000 population</td>
		<td>106 per 100,000 population
		</td>
		<td></td>
		<td></td>
		<td>106 per 100,000 population
		</td>
	</tr>

	<tr>
		<td>PEPFAR PMTCT_STAT_POS: Number of pregnant women with positive HIV status at antenatal care</td>
		<td>6302</td>
		<td>1,281 (20.3%</td>
		<td>1637 (24.3%
		</td>
		<td></td>
		<td></td>
		<td>46.3% of annual HIV+ to be identified achieved
		</td>
	</tr>

	<tr>
		<td>Proportion of notified cases of TB who are aged less than 15 years </td>
		<td>15%</td>
		<td>10.1% (102 / 1,044)</td>
		<td>11.4% (119/1046)
		</td>
		<td></td>
		<td></td>
		<td>10.6% (221/2090)
		</td>
	</tr>

	<tr>
		<td>TB treatment success rate (TSR)</td>
		<td>90%</td>
		<td>87.7% (207 / 236)</td>
		<td>83.1% (319/384)
		</td>
		<td></td>
		<td></td>
		<td>84.8% 526/620
		</td>
	</tr>

	<tr>
		<td>TB cure rate</td>
		<td>60%</td>
		<td>49.6% (117 / 236)</td>
		<td>55.5% (214/384)
		</td>
		<td></td>
		<td></td>
		<td>53.4% (331/620)
		</td>
	</tr>

	<tr>
		<td>PEPFAR TB_STAT: Percentage of new and relapse TB cases with documented HIV status</td>
		<td>100%</td>
		<td>96.7%</td>
		<td>93.3%
		</td>
		<td></td>
		<td></td>
		<td>93.3%
		</td>
	</tr>

	<tr>
		<td>PEPFAR TB_STAT_POS: Percentage of new and relapse TB cases with documented HIV-positive status</td>
		<td></td>
		<td>34.9% (332 / 950)</td>
		<td>36.6% (358/977)
		</td>
		<td></td>
		<td></td>
		<td>36.0%
		</td>
	</tr>

	<tr>
		<td>PEPFAR TB_ART: The number of HIV-positive new and relapsed TB cases on ART during TB treatment</td>
		<td>1483</td>
		<td>301</td>
		<td>353
		</td>
		<td></td>
		<td></td>
		<td>648
		</td>
	</tr>

	<tr>
		<td>PEPFAR TX_TB: The proportion of ART patients who were screened who are receiving TB treatment. </td>
		<td>2%</td>
		<td>0.41% (262 / 63,342)</td>
		<td>(0.42%) 294/69521
		</td>
		<td></td>
		<td></td>
		<td>0.42% (556/132863)
		</td>
	</tr>

	<tr>
		<td>PEPFAR TB_PREV: Proportion of ART patients who completed a standard course of TB preventive therapy within the reporting
			period
		</td>
		<td>12,105</td>
		<td>71.0% (186 / 262)</td>
		<td>55.4% (418/755)
		</td>
		<td></td>
		<td></td>
		<td>59.4% (604/1017)
		</td>
	</tr>

	<tr>
		<td>Number of multi-drug resistant tuberculosis cases detected</td>
		<td>45</td>
		<td>4</td>
		<td>8
		</td>
		<td></td>
		<td></td>
		<td>12
		</td>
	</tr>

	<tr>
		<td>Number of multi drug resistant tuberculosis cases that have been initiated on second line treatment </td>
		<td>45</td>
		<td>4</td>
		<td>7
		</td>
		<td></td>
		<td></td>
		<td>11
		</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">LABORATORY SERVICES</td>
	</tr>

	<tr>
		<td>PEPFAR LAB_PTCQI Number of laboratories and blood banks/centers engaged in continuous quality improvement (CQI) activities</td>
		<td>58</td>
		<td>97</td>
		<td>97</td>
		<td></td>
		<td></td>
		<td>97</td>
	</tr>

	<tr>
		<td>PEPFAR LAB_PTCQI Number of laboratories and blood banks/centers audited and achieved accreditation</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td></td>
		<td></td>
		<td>0</td>
	</tr>

	<tr>
		<td>PEPFAR LAB_PTCQI Number of laboratories and blood banks/centers performing HIV-related test and participating in and passing
			proficiency testing (PT)</td>
		<td>90</td>
		<td>88 (93%)</td>
		<td>60 (88%)</td>
		<td></td>
		<td></td>
		<td>60 (88%)</td>
	</tr>

	<tr>
		<td>Number of hub laboratories that have attained a 3 Star status on the WHO/SLIPTA laboratory accreditation preparedness checklist</td>
		<td>3</td>
		<td>1</td>
		<td>1</td>
		<td></td>
		<td></td>
		<td>1</td>
	</tr>

	<tr>
		<td>Percentage of viral load (VL) specimens rejected by the national VL testing laboratory at MoH/CPHL</td>
		<td>2%</td>
		<td>1.3% (65 / 4,960)
		</td>
		<td>0.9% (55 / 5,530)
		</td>
		<td></td>
		<td></td>
		<td>0.9% (55 / 5,530)
		</td>
	</tr>

	<tr>
		<td>Percentage of GeneXpert TB test results dispatched from the hub, to requesters at health facilities within acceptable turnaround
			time (i.e. one week from the date of sputum specimen receipt at the hub)</td>
		<td>85%</td>
		<td>91% (557 / 612)
		</td>
		<td>96% (918 / 946)
		</td>
		<td></td>
		<td></td>
		<td>96% (918 / 946)
		</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold;">Percentage up-time for laboratory diagnostic equipment (CD4, CBC, chemistry, GeneXpert machines & microscopes), disaggregated
			by equipment type</td>
	</tr>

	<tr>
		<td>CD4 machines (50%)</td>
		<td>80%</td>
		<td>96% (87 days/91 days)
		</td>
		<td>100% (89days / 89days)
		</td>
		<td></td>
		<td></td>
		<td>100% (89days / 89days)
		</td>
	</tr>

	<tr>
		<td>CBC machines (60%)</td>
		<td>80%</td>
		<td>95% (86days/91days)
		</td>
		<td>87% (77 days/89days)
		</td>
		<td></td>
		<td></td>
		<td>87% (77 days/89days)
		</td>
	</tr>

	<tr>
		<td>Chemistry machines (65%)</td>
		<td>80%</td>
		<td>85% (78 days / 91 days)

		</td>
		<td>55% (49 days / 89 days)

		</td>
		<td></td>
		<td></td>
		<td>55% (49 days / 89 days)
		</td>
	</tr>

	<tr>
		<td>GeneXpert machines (60%)</td>
		<td>80%</td>
		<td>95%
		</td>
		<td>90% (80 days / 89 days)
		</td>
		<td></td>
		<td></td>
		<td>90% (80 days / 89 days)
		</td>
	</tr>

	<tr>
		<td></td>
		<td></td>
		<td>(87 days/91 days)
		</td>
		<td>
		</td>
		<td></td>
		<td></td>
		<td>
		</td>
	</tr>
	<tr>
		<td>Microscopes (70%)</td>
		<td>80%</td>
		<td>100% (92 days/92 days)
		</td>
		<td>100% (89 days/89 days)
		</td>
		<td></td>
		<td></td>
		<td>100% (89 days / 89 days)
		</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">HEALTH MANAGEMENT INFORMATION SYSTEM</td>
	</tr>

	<tr>
		<td>PEPFAR EMR_SITE Number of PEPFAR-supported facility-based service delivery points supported by your organization that have
			an electronic medical record system</td>
		<td>85</td>
		<td>65</td>
		<td>68</td>
		<td></td>
		<td></td>
		<td>68</td>
	</tr>

	<tr>
		<td>Percent of health facilities with functional HMIS</td>
		<td>100%</td>
		<td>100%</td>
		<td>100%</td>
		<td></td>
		<td></td>
		<td>100%</td>
	</tr>

	<tr>
		<td>Percent completeness of health facility HMIS 105, HMIS 106a, and HMIS 108 reporting</td>
		<td>100%</td>
		<td>HMIS 105 -91%; HMIS 106a-93%; HMIS 108-67.2%</td>
		<td>HMIS 105-99% HMIS 108-90% HMIS 106a-98%
		</td>
		<td></td>
		<td></td>
		<td>HMIS 105-99% HMIS 108-90% HMIS 106a-98%
		</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">HUMAN RESOURCES FOR HEALTH</td>
	</tr>

	<tr>
		<td>Percentage of approved posts filled by qualified health workers</td>
		<td>72%</td>
		<td>73%</td>
		<td>73%</td>
		<td></td>
		<td></td>
		<td>73%</td>
	</tr>

	<tr>
		<td>Health worker absenteeism rate</td>
		<td>12%</td>
		<td>10%</td>
		<td>18%</td>
		<td></td>
		<td></td>
		<td>10%</td>
	</tr>

	<tr>
		<td>Percentage of service delivery points complying with national standards.</td>
		<td>135</td>
		<td>100% (135 / 135)</td>
		<td>100% (135 / 135)
		</td>
		<td></td>
		<td></td>
		<td>100%</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">CONTINUOUS QUALITY IMPROVEMENT (CQI)</td>
	</tr>

	<tr>
		<td>Proportion of supported districts with functional QI committees</td>
		<td>11</td>
		<td>100% (11 / 11)</td>
		<td>100% (11 / 11)</td>
		<td></td>
		<td></td>
		<td>100%</td>
	</tr>

	<tr>
		<td>Proportion of supported health facilities with functional QI committees </td>
		<td>140</td>
		<td>45.7% (64 / 140)</td>
		<td>58/140</td>
		<td></td>
		<td></td>
		<td>45.7%</td>
	</tr>

	<tr>
		<td>Proportion of men and women who say health service delivery in public health facilities has improved in the last year</td>
		<td>87%</td>
		<td>ND</td>
		<td>ND</td>
		<td></td>
		<td></td>
		<td>ND</td>
	</tr>

	<tr>
		<td>Percentage of health facilities scoring at least 2 stars on the Ministry of Health facility quality of care assessment
			program (HFQA)</td>
		<td>10% (14 / 135)</td>
		<td>8.9% (12 / 145)</td>
		<td>12/145</td>
		<td></td>
		<td></td>
		<td>8.9%</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">SUPPLY CHAIN MANAGEMENT</td>
	</tr>

	<tr>
		<td>Percentage of health facilities with all the national recommended 41 vital essential medicines available on the day of
			the assessment</td>
		<td>100%</td>
		<td>68.1% (348 / 511)</td>
		<td>55% (281)</td>
		<td></td>
		<td></td>
		<td>55% (281)</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">DISTRICT LED PARTNER COORDINATION AND STEWARDSHIP</td>
	</tr>

	<tr>
		<td>Percentage of districts that have implemented at least 80% of the planned district-implementing partners coordination activities</td>
		<td>100%</td>
		<td>100%</td>
		<td>100%</td>
		<td></td>
		<td></td>
		<td>100%</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">COMMUNITY SYSTEMS STRENGTHENING AND SERVICES</td>
	</tr>

	<tr>
		<td>Score in percent of combined areas of capacity building amongst the Civil Society Organizations (CSO) to promote positive
			social behaviors</td>
		<td>50% (Projected)</td>
		<td>0%</td>
		<td>70%</td>
		<td></td>
		<td></td>
		<td>70%</td>
	</tr>

	<tr>
		<td>Score in percent of combined key areas of capacity building amongst selected community structures to promote positive social
			behaviors.</td>
		<td>50% (Projected)</td>
		<td>0%</td>
		<td>14%</td>
		<td></td>
		<td></td>
		<td>50%</td>
	</tr>

	<tr>
		<td>Percentage of planned interventions conducted by the CSO to address gender and socio-cultural barriers to adoption of positive
			health behaviors</td>
		<td>No target</td>
		<td>0%</td>
		<td>100%</td>
		<td></td>
		<td></td>
		<td>100%</td>
	</tr>

	<tr>
		<td>Percentage of planned interventions conducted by selected community structures to address gender and socio-cultural barriers
			to adoption of positive health behaviors</td>
		<td>ND</td>
		<td>ND</td>
		<td>ND</td>
		<td></td>
		<td></td>
		<td>ND</td>
	</tr>

	<tr>
		<td>Percentage of clients referred from the community to the health facility and received the service they were referred for
			at the facility during the reporting period</td>
		<td>No target</td>
		<td>94% (4,091 / 4,357)</td>
		<td>96% (21,159 / 21,988)
		</td>
		<td></td>
		<td></td>
		<td>96%</td>
	</tr>

	<tr>
		<td>Percentage of clients referred from the health facility to the community and received the services they were referred for
			during the reporting period</td>
		<td>No target</td>
		<td>51% (102 / 202)
		</td>
		<td>65% (412 / 637)
		</td>
		<td></td>
		<td></td>
		<td>65%</td>
	</tr>

	<tr>
		<td>Number of individuals counseled, tested and received HIV results at the targeted community service point during the reporting
			period</td>
		<td>No target</td>
		<td>ND</td>
		<td>ND</td>
		<td></td>
		<td></td>
		<td>ND</td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">Audience Level (Target audiences) </td>
	</tr>
	
	<tr>
		<td>% of target audience exposed to a message/ intervention on Malaria/FP/TB/HIV/MCH/Nutrition. </td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>% of target audience with comprehensive knowledge on Malaria/FP/TB/HIV/MCH/Nutrition.  </td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>% of target audience who believe/ have confidence to challenge the negative social norms that prevent them from practicing the behaviors/ actions on Malaria/FP/TB/HIV/MCH/Nutrition.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>% of target audience who approve the promoted behaviors/ actions on Malaria/FP/TB/HIV/MCH/Nutrition.  </td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>% of target audience who intent to practice the promoted behaviors/ actions on Malaria/FP/TB/HIV/MCH/Nutrition.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
	<tr>
	<td>% of target audience who report practicing the promoted behaviors/ actions on Malaria/FP/TB/HIV/MCH/Nutrition. </td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr>
		<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">VHTs/ Peers/ Mobilizers</td>
	</tr>
		
	<tr>
		<td>No/ % of VHTs/ peers with comprehensive knowledge on Malaria/FP/TB/HIV/MCH/Nutrition.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>No/ % of VHTs/ peers with right attitudes/ values on Malaria/FP/TB/HIV/MCH/Nutrition.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>No/ % of VHTs/ peers with appropriate communication skills.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>No/ % of VHTs/ peers equipped with relevant tools and job aides on Malaria/FP/TB/HIV/MCH/Nutrition.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>No/ % of providers utilizing relevant tools</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>No/ % of clients satisfied with services </td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr>
			<td colspan="7" style="font-weight:bold; color:  #052a63;" bgcolor="#a5ad8e">SBCC Materials</td>
	</tr>
			
	<tr>
		<td>No/ % of facilities/catchment villages with displayed SBCC materials</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>

<a href="/download/performancenew.pdf" downloadreport>Click here to Download this report in PDF</a>
{% endblock %}